mixin project-card(project)
  section.project
    h3.project__title
      |Проект
      span.project__name|  &laquo;#{project.name}&raquo;
      |, выполненный на учебном курсе
      br
      a(href="https://htmlacademy.ru/intensive/" + project.intensive)|   &laquo;#{project.intensiveTitle}&raquo;
      |  в HTML Academy
      if project.protect
        span.project__protect Проект прошел проверку случайным наставником по всем критериям на 100%
    a.project__image-link(href="https://nataliailina.github.io/38944-" + project.name)
      img(src="img/" + project.name + ".jpg", alt="Проект " + project.name)
    div.project__info
      ul.project__features
        each feat in project.features
          li.project__feature= feat
      p.project__description= project.description
      a.project__link(href="https://nataliailina.github.io/38944-" + project.name) Ссылка на опубликованный сайт
      a.project__link(href="https://github.com/nataliailina/38944-" + project.name) Ссылка на репозиторий проекта в Github

mixin education-info(curse)
  section.education__info(class=curse.className)
    a.education__company(href="https://htmlacademy.ru")
      span.visually-hidden HTML Academy
    p.education__intensive.
      Интенсивный онлайн‑курс &laquo;#{curse.name}&raquo;
    if curse.link
      a.education__link(href=curse.link) Посмотреть сертификат
    else
      a.education__link Начало курса в марте 2018

mixin contact-link(contact)
  a.contacts__link(href=contact.link, class=contact.className)
    span.visually-hidden= contact.name
